 {% extends 'base.html' %}
{% load static %}
{% block metadescription %}
 This is the cart. Proceed to review your items
{% endblock %}

{% block title %}
        Cart-ABS STORE
{% endblock %}

{% block content %}
 {% if not cart_items %}
 <div>
     <div class="text-center">
         <br>
         <h1 class="text center my_title">
             your cart is empty
         </h1>
         <br>
         <p class="text-center">
             please click <a href="{% url 'shop:allProdCart' %}">Click here to continue shopping </a>
         </p>
     </div>
 </div>
 {% else %}
 <div>
     <div class="text-center">
         <br>
         <h1 class="text-center my_title">
             Your shopping cart
         </h1>
         <br>
     </div>
 </div>
 <div class="row mx-auto">
     <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
         <table class="table my_custom_table">
             <thead class="my_custom_thread">
             <tr>
                 <th colspan="5">
                   <h5> <b>your items </h5>
                 </th>
             </tr>
             </thead>
             <tbody>
             {% for cart_item in cart_items %}
             <tr>
                 <td>
                     <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" alt=""style="width:100px;height:100px;" class="float-left rounded custom_image"></a>

                 </td>
             <td class="text-left">
                <h5> {{cart_item.product.name}}</h5>
                 <br>
                 <h6>SKU: {{cart_item.product.id}}</h6>
                 <br>
                 <h6>Price: $ {{cart_item.product.price}}</h6>
                 <br>
                 <h6>Qty : {{cart_item.quantity}} * $ {{cart_item}}</h6>
             </td>
                 <td>
                    <h6>$ {{cart_item.sub_total}} </h6>
                 </td>
                 {% if cart_item.quantity < cart_item.product.stock %}
                <td>
                    <a href="{% url 'cart_app:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa fa-plus"></i></a>
                    &nbsp;<a href="{% url 'cart_app:cart_remove' cart_item.product_id %}" class="custom_a"><i class="fa fa-minus" ></i></a>
                    &nbsp;<a href="{% url 'cart_app:full_remove' cart_item.product_id %}" class="custom_icon"><i class="fa fa-trash" ></i></a>
                </td>
                 {% else %}
                <td>
                    &nbsp;<a href="{% url 'cart_app:cart_remove' cart_item.product_id %}" class="custom_a"><i class="fa fa-minus" ></i></a>
                    &nbsp;<a href="{% url 'cart_app:full_remove' cart_item.product_id %}" class="custom_icon"><i class="fa fa-trash"></i></a>
                </td>
             {% endif %}
             </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
     <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
         <table class="table my_custom_table">
             <thead class="my_custom_thead">
             <tr>
                 <th>
                     <h4>check out</h4>
                 </th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>
                     <h4>please review your cart items before proceeding with the mode of payments<h4>
                 </td>
             </tr>
             <tr>
                 <td class="text-left">
                   <h4><strong> your total is {{total}}</h4>
                 </strong>
                 </td>
             </tr>
             </tbody>
         </table>
         <div class="mx-auto">
            <a href="{% url 'shopapp:allProdCat' %}" class="btn btn-secondary  my_custom_button" >Continue shopping
 </div>
         {% endif %}
     </div>
 </div>
 </div>
 {% endblock %}